{{ define "main" }}
<article class="blog-post">
    <div class="container">
        <header class="post-header">
            <h1>{{ .Title }}</h1>
            <time>{{ .Date.Format "January 2, 2006" }}</time>
            {{ with .Params.tags }}
            <div class="post-tags">
                {{ range . }}
                <a href="/tags/{{ . | urlize }}" class="post-tag">#{{ . }}</a>
                {{ end }}
            </div>
            {{ end }}
        </header>
        <div class="post-content">
            {{ .Content }}
        </div>
    </div>
</article>
{{ end }}
